.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background: #252830;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.App-title {
  margin-left: 30px;
}

.frappe-chart {
  max-width: 100%;
}
